.bubble--floating
	background transparent
	border solid 1px $white
	width 60px
	height 60px
	border-radius 50%
	position absolute
.one
	transform scale(0.9)
	animation moveUp 15s alternate infinite, moveSideWayRight 14s alternate infinite
.two
	transform scale(0.6)
	animation moveUp 25s alternate infinite, moveSideWayRight 15s alternate infinite	
.three
	transform scale(0.8)
	animation moveUp 20s alternate infinite, moveSideWayRight 14s alternate infinite
.four
	transform scale(0.9)
	animation moveUp 18s alternate infinite, moveSideWayRight 12s alternate infinite
.five
	transform scale(0.8)
	animation moveUp 7s alternate infinite, moveSideWayRight 2s alternate infinite
	
.six
	transform scale(0.9)
	animation moveUp 10s alternate infinite, moveSideWayLeft 18s alternate infinite 
.seven
	transform scale(0.6)
	animation moveUp 20s alternate infinite, moveSideWayLeft 12s alternate infinite	
.eight
	transform scale(0.8)
	animation moveUp 18s alternate infinite, moveSideWayLeft 18s  alternate infinite
.nine
	transform scale(0.9)
	animation moveUp 25s alternate infinite, moveSideWayLeft 15s alternate infinite
.ten
	transform scale(0.8)
	animation moveUp 15s alternate infinite, moveSideWayLeft 14s  alternate infinite