@media (min-width 0) and (max-width 413px)
	.bubble
		&--type-one
		&--type-five
		&--type-three
		&--type-two	
		&--type-four
			margin-left 0%
						
@media (min-width 414px) and (max-width 1024px)
	.bubble
		&--type-one
		&--type-five
		&--type-three
		&--type-two	
		&--type-four
			margin-left 3%