.song
	color $white 
	position absolute
	margin -20% 0 0 25%
	opacity 0
	animation fadeIn ease-in 1
	animation-fill-mode forwards
	animation-duration 1s
	&__lyrics
		font-size 30px
		width 30%
	&__name
		font-size 17px
		font-weight 700
		text-transform uppercase
	&__artist
		font-size 15px
		font-style italic
		text-decoration underline
	&__play
		background $white
		border-radius 50%
		margin 5% 5% 0 -15%
		.fa-play
			color $east_side
			padding 15px
			font-size 25px
			margin-left 5%
	&__info
		margin-top 5%
		span
			display block
		
		
		
	