.song__cover	
	opacity 0.5

.hidden__song
	display none
	float right
	
.song
	color $white 
	position absolute
	bottom 80px
	right -210px
	opacity 0
	animation fadeIn ease-in 1
	animation-fill-mode forwards
	animation-duration 1s
	&__lyrics
		font-size 30px
		width 200px
		font-weight 700
		margin-left 60px
	&__name
		font-size 17px
		font-weight 700
		text-transform uppercase
	&__artist
		font-size 15px
		font-style italic
		text-decoration underline
	&__play
		background $white
		border-radius 50%
		margin 15px 15px 0 0
		.fa-play
			color $east_side
			padding 15px
			font-size 25px
			margin-left 5px
	&__info
		margin-top 20px
		span
			display block
		
		
		
	