$affair = #8C4D9D
$wisteria = #9963a7
$east_side = #8E529E
$white = #FFFFFF
$gray = #C0C0C0
$black = #000000

@import "_keyframes.styl"


body
	background $affair
	font-family 'Titillium Web', sans-serif
	overflow hidden

@import "_bubbles-floating.styl"		

	
.container
	background transparent
	margin 10px auto
	
.left
	float left

.right
	float right
	
.group__bubbles
	margin-bottom 30px
	
header
	margin-bottom 30px	
	.title
	.hint 
		color $white
		text-transform uppercase
	

@import "_functions.styl"
@import "_bubble.styl"
	
@import "_song.styl"

@import "_media.styl"